---
layout: default
---
<article class="article-detail">
  <header class="article-header">
    <h1 class="article-title">
      {{ page.title }}
    </h1>
    <time class="article-publish-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
  </header>
  <section class="article-content">
    {{ content }}      
  </section>
  <section class="signature">
    <img src="http://www.gravatar.com/avatar/add1e96df12a3bbba353360c125bdf5f.jpg?s=100" width="120" height="120" class="profile-picture" alt="Tom Hicks">
    <p><a class="author" href="/">Tom Hicks</a></p>
    <time class="article-publish-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
  </section>
</article>